In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df1 = pd.read_csv("sequencing_data_biochem1.csv")
df2 = pd.read_csv("sequencing_data_biochem2.csv")

In [3]:
df1.head()

  ref_1    A_1    C_1    G_1    T_1 call_1 ref_2    A_2    C_2    G_2    T_2
0     C  0.122  0.428  0.039  0.127      C     T  0.022  0.006  0.060  0.358
1     T  0.155  0.138  0.102  0.680      T     C  0.186  0.390  0.107  0.004
2     T  0.071  0.053  0.186  0.587      T     A  0.503  0.137  0.019  0.013
3     C  0.101  0.330  0.021  0.088      C     T  0.167  0.193  0.149  0.457
4     A  0.363  0.189  0.114  0.004      A     A  0.470  0.018  0.006  0.004

In [4]:
df2.head()

  ref_1    A_1    C_1    G_1    T_1 call_1 ref_2    A_2    C_2    G_2    T_2
0     G  0.168  0.232  0.028  0.071      C     T  0.122  0.004  0.244  0.037
1     A  0.099  0.064  0.004  0.285      T     A  0.027  0.086  0.100  0.155
2     C  0.321  0.148  0.070  0.196      A     C  0.060  0.084  0.152  0.049
3     G  0.170  0.360  0.146  0.088      C     A  0.165  0.111  0.004  0.335
4     T  0.129  0.111  0.302  0.056      G     A  0.122  0.184  0.061  0.201

In [5]:
print("details about the data set biochem1: ",df1.info())
print("details about the data set biochem2: ",df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ref_1   1000 non-null   object
 1   A_1     1000 non-null   float64
 2   C_1     1000 non-null   float64
 3   G_1     1000 non-null   float64
 4   T_1     1000 non-null   float64
 5   call_1  1000 non-null   object
 6   ref_2   1000 non-null   object
 7   A_2     1000 non-null   float64
 8   C_2     1000 non-null   float64
 9   G_2     1000 non-null   float64
 10  T_2     1000 non-null   float64
dtypes: float64(8), object(3)
memory usage: 86.1+ KB
details about the data set biochem1:  None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ref_1   1000 non-null   object
 1   A_1     1000 non-null   float64
 2   C_1     1000 non-null   float64
 3   G_1     1000 non-null   float64
 4   T_1     1000 non-null   float64
 5   call_1  1000 non-null   object
 6   ref_2   1000 non-null   object
 7   A_2     1000 non-null   float64
 8   C_2     1000 non-null   float64
 9   G_2     1000 non-null   float64
 10  T_2     1000 non-null   float64
dtypes: float64(8), object(3)
memory usage: 86.1+ KB
details about the data set biochem2:  None

## ** function to call the data frame and each cycles **
## ** the call function is to call the data and find the maximum value for each column, then make the call_2 column for format call_2 data in a represetable way**
## ** here i also seen that rows with '0' call in call_1 as N so for in cycle 2, for mimic the same

## ## the function call_imp is a improvement function, where i drop the 0 valued rows for improve the accuracy of the experiment. 
## !! the error_rate function is to calculate the error of the data frame to validate it with the given one

In [6]:
def call(df,x):
    x = str(x)
    df['call_' + x] = df.loc[:,['A_' + x, 'T_' + x, 'C_' + x, 'G_' + x]].idxmax(axis = 1)
    df['call_' + x] = df['call_' + x].str.replace("_" + x,"")
    df['call_' + x][df.loc[:,['A_' + x, 'T_' + x, 'C_' + x, 'G_' + x]].eq(0).all(1)] = "N"
    
def call_imp(df,x):
    x = str(x)
    df['call_' + x] = df.loc[:,['A_' + x, 'T_' + x, 'C_' + x, 'G_' + x]].idxmax(axis = 1)
    df['call_' + x] = df['call_' + x].str.replace("_" + x,"")
    list_ = list(df['call_' + x][df.loc[:,['A_' + x, 'T_' + x, 'C_' + x, 'G_' + x]].eq(0).all(1)].index)
    processed_df =  df.drop(list_)
    
    return error_rate(processed_df,x)
    
def error_rate(df,x):
    x = str(x)
    return (1 - (sum(df["call_" + x] == df["ref_" + x])/len(df)))* 100

In [7]:
call(df1,2)

In [8]:
df1.head() ##call for the second cycle in the biochem1 shown in call_2

,ref_1,A_1,C_1,G_1,T_1,call_1,ref_2,A_2,C_2,G_2,T_2,call_2
0,C,0.122,0.428,0.039,0.127,C,T,0.022,0.006,0.060,0.358,T
1,T,0.155,0.138,0.102,0.680,T,C,0.186,0.390,0.107,0.004,C
2,T,0.071,0.053,0.186,0.587,T,A,0.503,0.137,0.019,0.013,A
3,C,0.101,0.330,0.021,0.088,C,T,0.167,0.193,0.149,0.457,T
4,A,0.363,0.189,0.114,0.004,A,A,0.470,0.018,0.006,0.004,A

In [9]:
error_rate(df1,2) ## error rate before using the call_improve

6.499999999999995

In [10]:
error_rate(df1,1) ## validate with given value to confirm the function woking

3.9000000000000035

In [11]:
call_imp(df1,2)  ## error rate after using improve function seen the rate is increase

4.591836734693877

In [12]:
df2 = pd.read_csv("sequencing_data_biochem2.csv") # load the biochem2

In [13]:
call(df2,1)

In [14]:
call(df2,2)

In [15]:
df2.head()

,ref_1,A_1,C_1,G_1,T_1,call_1,ref_2,A_2,C_2,G_2,T_2,call_2
0,G,0.168,0.232,0.028,0.071,C,T,0.122,0.004,0.244,0.037,G
1,A,0.099,0.064,0.004,0.285,T,A,0.027,0.086,0.100,0.155,T
2,C,0.321,0.148,0.070,0.196,A,C,0.060,0.084,0.152,0.049,G
3,G,0.170,0.360,0.146,0.088,C,A,0.165,0.111,0.004,0.335,T
4,T,0.129,0.111,0.302,0.056,G,A,0.122,0.184,0.061,0.201,T

# in the above output, i can see that the call is not related to ref in the both of the call. i can also infer that, say in the 1st row it should be G_1 in place of C_1. So, using this logic i will try to find out the, how many mispalce is happned. 

# all this work will be done below

In [16]:
#call__1 = df2.call_1

In [17]:
#call__1 = call__1.str.replace("_1", "")

In [18]:
df2.call_1.loc[df2.ref_1 == "G"].value_counts() # this the no of C wher it should be G.

C    261
N      7
A      2
T      2
G      2
Name: call_1, dtype: int64

In [19]:
df2.call_1.loc[df2.ref_1 == "T"].value_counts() # same logic for G to T

G    233
C      5
N      4
A      1
T      1
Name: call_1, dtype: int64

In [20]:
df2.call_1.loc[df2.ref_1 == "C"].value_counts() # A to C

A    206
C      7
G      4
N      3
T      2
Name: call_1, dtype: int64

In [21]:
df2.call_1.loc[df2.ref_1 == "A"].value_counts() # T to A

T    245
N      6
A      5
C      3
G      1
Name: call_1, dtype: int64

In [22]:
df2.rename(columns = {'A_1':'C_1', 'C_1' : 'G_1', 'G_1' : 'T_1', "T_1" : "A_1"}, inplace = True)  # now i change the column name for first cycle.

In [23]:
df2.head()

,ref_1,C_1,G_1,T_1,A_1,call_1,ref_2,A_2,C_2,G_2,T_2,call_2
0,G,0.168,0.232,0.028,0.071,C,T,0.122,0.004,0.244,0.037,G
1,A,0.099,0.064,0.004,0.285,T,A,0.027,0.086,0.100,0.155,T
2,C,0.321,0.148,0.070,0.196,A,C,0.060,0.084,0.152,0.049,G
3,G,0.170,0.360,0.146,0.088,C,A,0.165,0.111,0.004,0.335,T
4,T,0.129,0.111,0.302,0.056,G,A,0.122,0.184,0.061,0.201,T

In [24]:
call(df2,1)

In [25]:
df2.head() # after correcting the image capturing problem. I can see that in the 1st cycle its work properely. now I will do the same steps in the cycle 2.

,ref_1,C_1,G_1,T_1,A_1,call_1,ref_2,A_2,C_2,G_2,T_2,call_2
0,G,0.168,0.232,0.028,0.071,G,T,0.122,0.004,0.244,0.037,G
1,A,0.099,0.064,0.004,0.285,A,A,0.027,0.086,0.100,0.155,T
2,C,0.321,0.148,0.070,0.196,C,C,0.060,0.084,0.152,0.049,G
3,G,0.170,0.360,0.146,0.088,G,A,0.165,0.111,0.004,0.335,T
4,T,0.129,0.111,0.302,0.056,T,A,0.122,0.184,0.061,0.201,T

In [26]:
df2.call_2.loc[df2.ref_2 == "G"].value_counts() # verify the same mistake and found the capture proprocessing is not working.

C    231
N      4
T      2
G      1
Name: call_2, dtype: int64

In [27]:
df2.call_2.loc[df2.ref_2 == "T"].value_counts()

G    258
N      5
A      2
T      1
C      1
Name: call_2, dtype: int64

In [28]:
df2.call_2.loc[df2.ref_2 == "C"].value_counts()

A    233
T      6
G      6
N      4
C      4
Name: call_2, dtype: int64

In [29]:
df2.call_2.loc[df2.ref_2 == "A"].value_counts()

T    229
N      7
A      2
G      2
C      2
Name: call_2, dtype: int64

In [30]:
df2.rename(columns = {'A_2':'C_2', 'C_2' : 'G_2', 'G_2' : 'T_2', "T_2" : "A_2"}, inplace = True) # now i change the column name for second cycle.

In [31]:
df2.head()

,ref_1,C_1,G_1,T_1,A_1,call_1,ref_2,C_2,G_2,T_2,A_2,call_2
0,G,0.168,0.232,0.028,0.071,G,T,0.122,0.004,0.244,0.037,G
1,A,0.099,0.064,0.004,0.285,A,A,0.027,0.086,0.100,0.155,T
2,C,0.321,0.148,0.070,0.196,C,C,0.060,0.084,0.152,0.049,G
3,G,0.170,0.360,0.146,0.088,G,A,0.165,0.111,0.004,0.335,T
4,T,0.129,0.111,0.302,0.056,T,A,0.122,0.184,0.061,0.201,T

# in the above data frame it is seen that the misprogramming is fixed.
# now I will move for the error_rate calculation .

In [32]:
error_rate(df2,1)

5.500000000000005

In [33]:
call_imp(df2,1) # error rate is decreased.

3.57142857142857

In [34]:
error_rate(df2,2)

99.2

In [42]:
call_imp(df2,2) # error rate is decreased.

2.857142857142858

In [ ]:
#verify the both datasets with output

In [43]:
df1.head()

,ref_1,A_1,C_1,G_1,T_1,call_1,ref_2,A_2,C_2,G_2,T_2,call_2
0,C,0.122,0.428,0.039,0.127,C,T,0.022,0.006,0.060,0.358,T
1,T,0.155,0.138,0.102,0.680,T,C,0.186,0.390,0.107,0.004,C
2,T,0.071,0.053,0.186,0.587,T,A,0.503,0.137,0.019,0.013,A
3,C,0.101,0.330,0.021,0.088,C,T,0.167,0.193,0.149,0.457,T
4,A,0.363,0.189,0.114,0.004,A,A,0.470,0.018,0.006,0.004,A

In [44]:
df2.head()

,ref_1,C_1,G_1,T_1,A_1,call_1,ref_2,C_2,G_2,T_2,A_2,call_2
0,G,0.168,0.232,0.028,0.071,G,T,0.122,0.004,0.244,0.037,T
1,A,0.099,0.064,0.004,0.285,A,A,0.027,0.086,0.100,0.155,A
2,C,0.321,0.148,0.070,0.196,C,C,0.060,0.084,0.152,0.049,T
3,G,0.170,0.360,0.146,0.088,G,A,0.165,0.111,0.004,0.335,A
4,T,0.129,0.111,0.302,0.056,T,A,0.122,0.184,0.061,0.201,A

# from this exercise i can infer that, the dye combination which they are using in the biochem1 cycle 1 is acceptable. they can use it for the other cycles, and if the image capturing mechanism is modified or corrected than they can use the previous dye combination to sequence the DNA.